body{
    background-color:#000;
    color: white;
    margin: 0;
    padding: 5px;
}

img{
    width: 100%;
}

nav{
    background-color: violet;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: indigo;
    font-size: 14pt;
    text-decoration: none;
}